*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)), url("bg.jpg");
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(5, 5, 5, 0.4);
    backdrop-filter: blur(80px);
    color: white;
}
nav ul{
    display: flex;
    margin-top: 15px;
}
nav li{
    display: flex;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 40px;
    color: white;
    position: relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0;
    left: 0%;
    bottom: 3px;
    transform-origin: left;
    transition: 0.5s;
    transform: scaleX(0);
}
nav ul li a:hover::after{
    background-color: yellow;
    transform-origin: right;
    width: 100%;
    transform: scaleX(1);
}

/*main*/
main{
    color: white;
    width: 100%;
}
.containt{
    display: flex;

}
.containt h1{
    margin-top: 10%;
    font-size: 40px;
    padding-top: 20px;
    margin-left: 40px;
}
img{
        width: 23%;
        border-radius: 10%;
    height: 10%;
    border: 2px solid yellow;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
span{
    color: yellow;
}
h4{
    margin-top: 10%;
    font-size: 18px;
    margin-right: 20px;
}
i{
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    margin: 13px;
    background-color: yellow;
    color: blue;
    transition: 0.5s;
}
i:hover{
    background-color: blue;
    color: yellow;
    transition: 0.5s;

}
/*about-section*/
.about-section{
      background-image:linear-gradient(rgba(3, 122, 29, 0.2),
     rgba(0, 0, 0, 0.2)), url("bg.jpg");
      backdrop-filter: blur(20px);
    color: rgb(1, 66, 5);
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: rgb(252, 236, 6);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.box h1{
    color: rgb(2, 75, 2);
    margin-bottom: 10px;
}
.box h3{
    color: black;
}
.about{
    background-color: red;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    transition: 0.5s;

}
.about:hover{
    background-color: rgb(1, 80, 18);
    transition: 0.5s;
}
.software i{
    color: black;
}
.software i:hover{
    background-color: yellow;
}
/*Project*/

.project{
    background-color: white;
}
.project h1{
    color: black;
    background-color: yellow;
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.project img{
    border: 0;
    border-radius: 0;
    justify-content: center;
    width: 90%;
}
.footer{
     background-color: rgb(1, 54, 12);
}
.footer h2{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}