*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:
     linear-gradient(rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.2)),
    url(forest.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(5, 5, 5, 0.4);
    backdrop-filter: blur(80px);
    color: white;
}
nav ul{
    display: flex;
    margin-top: 10px;
}
nav li{
    display: flex;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    position: relative;
}
nav ul li a::after{
    content: '';
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0;
    left: 0%;
    bottom: 5px;
    transform-origin: left;
    transition: 0.5s;
    transform: scaleX(0);
}
nav ul li a:hover::after{
    background-color: red;
    transform-origin: right;
    width: 100%;
    transform: scaleX(1);
}
.login-box{
    background-color: rgba(8, 8, 8, 0.9);
    border: 1px solid aqua;
    border-radius: 10px;
    backdrop-filter:blur(20px);
    width:  400px;
    margin-top: 60px;
    margin-left: 35% ;
    margin-right: auto;
    height: 440px;
}
h2{
    color: white;
    padding: 20px;
    font-size: 40px;
}
.text{
    width: 80%;
    padding: 8px;
    margin: 5px;
    margin-bottom: 10px;
}
label{
    color: white;
    margin: 10px;
    margin-left: 180px;
}
button{
    background-color: aqua;
    color: black;
    padding: 10px;
    border: 0;
    margin: 10px;
    width: 310px;
}
p{
    color: white;
    font-size: 14px;
    margin: 15px;
}
p a{
    color: white;
}
i{
    cursor: pointer;
}